.content-container {
  transition: $sidebar-transition;
}

.content-container--move {
  margin-left: $sidebar-width;
}

.sidebar__button {
  position: absolute;
  margin-left: 12px; // position: relative;
  top: 7px;
  transition: $sidebar-transition;
}

.sidebar_button--open {
  margin-left: $sidebar-width + 10;
}
